{% extends "bugs_board/base.html" %} {% block title %} Boards Dashboard {% endblock %}

{% block nav %}
<div class="row">
    <div class="d-flex flex-column position-sticky flex-shrink-0 p-3 text-white bg-dark" style="width: 315px;">
        <a href="{{ url_for('main_page.main')}}"
           class="d-flex align-items-center ps-3 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">BugHub</span>
        </a>
        <hr>
        <form action="/bugs/browse/<id>" method="POST">
            <div class="input-group">
                <input class="form-control" list="alltickets" id="allticketsearch" name="id" placeholder="">
                <datalist id="alltickets">
                    {% for ticket in all_tickets %}
                    <option value="{{ ticket.id }} {{ ticket.title }}">{{ ticket.id }} {{ ticket.title }}</option>
                    {% endfor %}
                </datalist>
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('dashboard.dashboard_main') }}" class="nav-link active" aria-current="page">
                    Dashboard
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ userinfo.picture }}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong> {{ userinfo.name }} </strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{{ url_for('user_home.user_home_page') }}">My Account</a></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-25"></div>
<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-5">
        </header>
        <main class="px-3">
            <h1>Looks like you're not part of a team yet.</h1>
            <p class="lead">You'll need to join a team first before you can continue</p>
            <p class="lead">
                <a href="{{ url_for('teams.create_team') }}"
                   class="btn btn-lg btn-secondary fw-bold border-black bg-white text-black">Get Started</a>
            </p>
        </main>
    </div>
</div>
{% endblock %}