{% extends "user_home/base.html" %} {% block title %} User Profile Add {% endblock %}
{% block content %}
<div>

  <h2>Looks like we're missing your username</h2>
    <h2>Please enter your username below</h2>

      <div class="container align-center col-md-2 col-lg-4">
        <form action="{{ url_for('user_home.add_profile') }}" method="POST">
          <div class="row g-3">

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>

            </div>
          <div class="p-5"><p><button type="submit" class="btn btn-primary btn-lg" value="Submit">Submit</button></p></div>
        </form>
      </div>
</div>
{% endblock %}