{% extends "teams/base.html" %}{% block title %} Create Team {% endblock %}
{% block nav %}
<div class="row">
    <div class="d-flex flex-column position-sticky flex-shrink-0 p-3 text-white bg-dark" style="width: 315px;">
        <a class="d-flex align-items-center ps-3 mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
            <span class="fs-4">BugHub</span>
        </a>
        <hr>
        <form action="/bugs/browse/<id>" method="POST">
            <div class="input-group">
                <input class="form-control" list="alltickets" id="allticketsearch" name="id" placeholder="">
                <datalist id="alltickets">
                    {% for ticket in all_tickets %}
                    <option value="{{ ticket.id }} {{ ticket.title }}">{{ ticket.id }} {{ ticket.title }}</option>
                    {% endfor %}
                </datalist>
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a aria-current="page" class="nav-link active" href="{{ url_for('teams.team_home_page') }}">
                    Teams
                </a>
            </li>
            <li class="nav-item">
                <a aria-current="page" class="nav-link text-white" href="{{ url_for('main_page.main') }}">
                    Boards
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a aria-expanded="false" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" href="#" id="dropdownUser1">
                <img alt="" class="rounded-circle me-2" height="32" src="{{ userinfo.picture }}" width="32">
                <strong> {{ userinfo.name }} </strong>
            </a>
            <ul aria-labelledby="dropdownUser1" class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{{ url_for('user_home.user_home_page') }}">My Account</a></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid mx-auto">

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2> Create your team </h2>
    </div>

    <div class="content d-flex flex-column flex-column-fluid mt-5">
        <div class="container-fluid">

            <form action="{{ url_for('teams.create_team') }}" method="POST">
                <div class="row-sm-3 g-3">

                    <div class="col-sm-2 mx-auto mt-5">
                        <input type="text" class="form-control" id="team_name" name="team_name" placeholder="Team Name">
                    </div>


                    <div class="d-grid gap-1 col-1 m-3 mx-auto">
                        <button type="submit" class="btn btn-primary btn-md" value="Submit">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}